# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# OS
Thumbs.db
Desktop.ini
# PalmPlay Specific
local_music/
uploaded_music/
*.whl
hand_landmarker.task

# Frontend
frontend/node_modules/
frontend/dist/
.env.bak
